@charset "EUC-KR";

.card {
	width: 300px;
	min-height: 450px;
	background: #f2efea;
	box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
	border-radius: 10px;
	transition: 0.5s;
}

.card .box {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
}

.card .box .img {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.card .box .img img {
	width: 100%;
	height: 100%;
}

.card .box h2 {
	font-size: 20px;
	color: #262626;
	margin: 20px auto;
}

.card .box h2 span {
	font-size: 17px;
	background: #EF746F;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 15px;
}

.card .box p {
	
}

.card .box span {
	display: inline-flex;
}

/* type2 약이미지 검색 */
.heading {
	z-index: 1;
	position: relative;
	text-align: center;
	margin-bottom: 100px;
}

.heading:after {
	left: 50%;
	height: 3px;
	width: 50px;
	content: " ";
	bottom: -50px;
	margin-left: -25px;
	position: absolute;
	background: #EF746F;
}

.heading h2 {
	font-size: 40px;
	font-weight: 500;
	margin: 0 0 20px;
	color: #3f5263;
}

/*--------------------------------------------------
	[HEADING LEFT]
----------------------------------------------------*/
.heading-left {
	z-index: 1;
	margin-bottom: 30px;
}

.heading-left h2 {
	font-size: 30px;
	margin: 0 0 20px;
	color: #3f5263;
	text-transform: capitalize;
}

.heading-left p {
	color: #8693a7;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.heading-left-light {
	z-index: 1;
	margin-bottom: 30px;
}

.heading-left-light h2 {
	font-size: 30px;
	margin: 0 0 20px;
	text-transform: capitalize;
}

.heading-left-light p {
	color: #8693a7;
	font-size: 16px;
	letter-spacing: 0.5px;
}


/*--------------------------------------------------
	[PRICING]
----------------------------------------------------*/

.pricing-bg .pricing {
	background: f2efea;
	text-align: center;
	border: 2px solid #aebcc7;
}

.pricing-bg .pricing img {
	width: 60px;
	height: auto;
}

.pricing-bg .pricing h4 {
	font-size: 27px;
	margin: 0 0 15px;
	color: #3f5263;
}

.pricing-bg .pricing h4 {
	font-size: 27px;
	margin: 0 0 15px;
	color: #fff;
}

.pricing-bg .pricing span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}

.pricing-bg .pricing .pricing-features {
	padding: 0;
	margin: 35px 0;
	list-style: none;
}

.pricing-bg .pricing .pricing-features li {
	font-size: 12px;
	text-transform: capitalize;
	color: #8693a7;
}

.pricing-bg .pricing-red {
	border: none;
	padding: 80px 0;
	background: #EF746F;
}
.pricing-bg .pricing-blue {
	border: none;
	padding: 80px 0;
	background: #0b4877;
}


.pricing-bg .pricing-red .pricing-features li {
	color: #F2F2F2;
}

